﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <h1>MemeShirts exist to make you laugh</h1>
    <p>-and hopefully, make you think. Meme's are modern hieroglyphs. Or to put it another way--meme's are worth a thousand words.
        What better way to communicate an idea than in a picture. Why waste valuable real estate on your clothing with corporate
        branding? Instead, waste it on an offensive message! Ha ha. Just kidding. Unless that's your thing, then check out our 
        political memeshirts. There's sure to be something that gets the ol' noggin joggin. For those of you less inclined to making
        political statements with your clothing, we have plenty of random and silly memeshirts too. In fact, why are you still reading this?
        Go pick out a shirt for grandma RIGHT NOW. <br />
        <br />
        ps. Grandmas love Pepe!</p>


    
</asp:Content>

