﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div id="homeImg">
        <img src="Images/jaredFogle.png" height="225" width="400" />
    </div>
    <h1 id="fltLeft">WE DON'T HAVE $5 FOOTLONGS, <br />BUT WE DO HAVE $10 T-SHIRTS!!</h1>
    
    
      <hr />  

<h2 class="w3-center">Political</h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="Images/Pol/bClinton.png" style="width:100%">
  <img class="mySlides" src="Images/Pol/hClinton.png" style="width:100%">
  <img class="mySlides" src="Images/Pol/trumpWoman.png" style="width:100%">
</div>
    
<br><br><hr /><br>
     <h2>Random</h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides2" src="Images/Ran/coyote.png" style="width:100%">
  <img class="mySlides2" src="Images/Ran/jPeterson.png" style="width:100%">
  <img class="mySlides2" src="Images/Ran/mZuck.png" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
	    var y = document.getElementsByClassName("mySlides2");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
y[i].style.display = "none";	   
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";
 y[myIndex-1].style.display = "block";	
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>

</asp:Content>

