﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <link href="StyleSheet.css" rel="stylesheet" />
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="wrapper">
        <header>
            
        </header>
        <nav>
           
             &nbsp;&nbsp;&nbsp;<asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" DataSourceID="SiteMapDataSource1" 
                 BackColor="transparent" DynamicHorizontalOffset="2" Font-Names="Verdana" Font-Size="1.5em"  ForeColor="#498201" 
                 Font-Bold="true" StaticSubMenuIndent="10px" StaticMenuStyle-HorizontalPadding=".5em">
                <DynamicHoverStyle BackColor="#990000" ForeColor="White" />
                <DynamicMenuItemStyle HorizontalPadding="5px" VerticalPadding="2px" />
                <DynamicMenuStyle BackColor="transparent" />                                 
                <DynamicSelectedStyle BackColor="#498201" />
                <StaticHoverStyle BackColor="transparent" ForeColor="#707070" />
                <StaticMenuItemStyle HorizontalPadding="15px" VerticalPadding="2px" />
                <StaticSelectedStyle forecolor="#954500" />
            </asp:Menu>
        </nav>
        <main>
           
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                This is contentent that comes from the Master Page
            </asp:ContentPlaceHolder>
        </main>
        <footer>

            <asp:Label ID="lblUserLoggedIn" runat="server"></asp:Label>

            <br />
            &copy;2017 MemeShirts.com
        </footer>
    </div>
    </form>
     <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" ShowStartingNode="False" />
</body>
</html>
