﻿@import url('StyleSheet.css');
body {
    background-image: url(Images/grayBackground.png);
    color: #444444;
}

#wrapper{
    width:1024px;
    border: thin solid #000000;
    margin: 0 auto;
}

header{
    
    height: 150px;
    /*border: thin solid #ff0000;*/
    background-color: #CBFDFE;
    background-position: left, center;
    background-repeat: no-repeat;
    background-image: url('Images/pepeHeader.png'), url(Images/memeShirts.png);
}
nav {
    padding: 15px 15px 15px 25px;
    height: 40px;
    /*border: thin solid #00ff21;*/
    background-color: rgba(255, 255, 255, 0.95);
}
main {
    padding: 25px;
    min-height: 400px;
    /*border: thin solid #ff0000;*/
    background: rgba(207, 207, 208, 0.95);
    
}

footer {
    height: 50px;
    /*border: thin solid #ff0000;*/
    background: rgba(207, 207, 208, 0.95);
    text-align: center;
}

div img{
    padding: 10px;
}
.mySlides {
    display: none;
}
.mySlides {
    display: none;
}
#homeImg {
    float: right; 
}
#fltLft {
    float: left;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.mySlides {
    display: none;
}

.active-slide {
    display: block;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}