﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ThankYouSignUp.aspx.cs" Inherits="ThankYouSignUp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        Thank you <asp:Label ID="lblName" runat="server" Text="Label"></asp:Label> for making an account.</p>
    <p>
        <asp:Button ID="txtLogin" runat="server" OnClick="txtLogin_Click" Text="Go to Login" Width="120px" />
    </p>
</asp:Content>

