﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="ThankYouContact.aspx.cs" Inherits="ThankYouContact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    Thank you
    <asp:Label ID="lblName" runat="server" Text="Label"></asp:Label>
    for contacting us.
</asp:Content>

