﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Upload.aspx.cs" Inherits="Upload" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
    <asp:FileUpload ID="fuUpload" runat="server" />&nbsp;
    <asp:Button ID="btnUpload" Text="Upload" runat="server" OnClick="btnUpload_Click" /><br />
    <asp:Label ID= "lblStatus" style="color: Red;" Text="" runat="server" />
    <asp:Image ID="Image1" runat="server" />
    </asp:Content> <%--ID="Image1"--%>

